# Name: LungJ
# Author: Lasse Wollatz
# Version: 0.3.0

Plugins>LungJ, "3D Blocks - Create", Subdivide_3D
Plugins>LungJ, "3D Blocks - Run Macro", Run_Macro_3D
Plugins>LungJ, "3D Blocks - Concatenate", Concatenate_3D
Plugins>LungJ, "3D Blocks - Histogram", Block_Histogram
Plugins>LungJ, "3D Blocks - Halo Exchange", Halo_Exchange
Plugins>LungJ, "Apply Weka Classifier", Apply_Weka_Classifier
Plugins>LungJ, "Apply Binary Threshold", Create_Threshold_Mask
Plugins>LungJ, "Apply Mask", Apply_Mask
Plugins>LungJ, "Fill Holes Manual (3D)", Fill_Holes_Manual_3D
Plugins>LungJ, "Invert Values", Invert_Values
Plugins>LungJ, "Label Hyperstack", Label_Hyperstack
Plugins>LungJ, "Colour by Segment", Colorize_
Plugins>LungJ, "Compare Masks", Compare_Masks
Plugins>LungJ, "Average ROIs Colour", Average_ROI_Colour
Plugins>LungJ, "Stretch Histogram", Stretch_Histogram
Plugins>LungJ, "LungJ Settings", LungJ_Settings

Plugins>LungJ>Test, "Test WEKA Filter", Test_WEKA_Filter
Plugins>LungJ>Test, "Lipschitz", Lipschitz_
Plugins>LungJ>Test, "Entropy", Entropy_Filter
Plugins>LungJ>Test, "Membrane Projections", Membrane_Projections
Plugins>LungJ>Test, "Neighbors", Neighbors_
Plugins>LungJ>Test, "Matrix Operation", Matrix_Operation
Plugins>LungJ>Test, "Compare Map to Mask", Compare_MapMask
Plugins>LungJ>Test, "Find Path (2D)", Pathfinder_2D
Plugins>LungJ>Test, "Find Path (3D)", Pathfinder_3D
Plugins>LungJ>Test, "makehalo", lj.testing.Test_Halo_Make
Plugins>LungJ>Test, "markhalo", lj.testing.Test_Halo_Highlight



Help>About Plugins, "LungJ", Help("about")