# Name: LungJ
# Author: Lasse Wollatz
# Version: 0.2.2

Plugins>LungJ, "3D Blocks - Create", Subdivide_3D
Plugins>LungJ, "3D Blocks - Run Macro", Run_Macro_3D
Plugins>LungJ, "3D Blocks - Concatenate", Concatenate_3D
Plugins>LungJ, "Apply Weka Classifier", Apply_Weka_Classifier
Plugins>LungJ, "Apply Binary Threshold", Create_Threshold_Mask
Plugins>LungJ, "Apply Mask", Apply_Mask
Plugins>LungJ, "Fill Holes Manual (3D)", Fill_Holes_Manual_3D
Plugins>LungJ, "Label Hyperstack", Label_Hyperstack
Plugins>LungJ, "Colour by Segment", Colorize_
Plugins>LungJ, "Compare Masks", Compare_Masks
Plugins>LungJ, "(Test) Entropy Filter", Entropy_Filter
Plugins>LungJ, "Invert Values", Invert_Values
Plugins>LungJ, "Find Path (3D)", Pathfinder_3D