# Name: LungJ
# Author: Lasse Wollatz
# Version: 0.5.0

Plugins>LungJ>3D Blocks, "3D Blocks - Create", Subdivide_3D
Plugins>LungJ>3D Blocks, "3D Blocks - Run Macro", Run_Macro_3D
Plugins>LungJ>3D Blocks, "3D Blocks - Concatenate", Concatenate_3D
Plugins>LungJ>3D Blocks, "3D Blocks - Histogram", Block_Histogram
Plugins>LungJ>3D Blocks, "3D Blocks - Halo Exchange", Halo_Exchange

Plugins>LungJ>Tools, "Apply Weka Classifier", Apply_Weka_Classifier
Plugins>LungJ>Tools, "Apply Binary Threshold", Create_Threshold_Mask
Plugins>LungJ>Tools, "Apply Mask", Apply_Mask
Plugins>LungJ>Tools, "Invert Values", Invert_Values
Plugins>LungJ>Tools, "Fill Holes Manual (3D)", Fill_Holes_Manual_3D
Plugins>LungJ>Tools, "Stretch Histogram", Stretch_Histogram

Plugins>LungJ>Filter, "Test WEKA Filter", Test_WEKA_Filter
Plugins>LungJ>Filter, "Lipschitz", Lipschitz_
Plugins>LungJ>Filter, "Entropy", Entropy_Filter
Plugins>LungJ>Filter, "Membrane Projections", Membrane_Projections
Plugins>LungJ>Filter, "Neighbors", Neighbors_
Plugins>LungJ>Filter, "Matrix Operation", Matrix_Operation

Plugins>LungJ>Other, "Label Hyperstack", Label_Hyperstack
Plugins>LungJ>Other, "Set Calibration", Set_Calibration
Plugins>LungJ>Other, "Average ROIs Colour", Average_ROI_Colour
Plugins>LungJ>Other, "Colour by Segment", Colorize_
Plugins>LungJ>Other, "Convert Mask to STL", mask_to_stl

Plugins>LungJ>Statistics, "Compare Masks", Compare_Masks
Plugins>LungJ>Statistics, "Compare Map to Mask", Compare_MapMask

Plugins>LungJ, "LungJ Settings", LungJ_Settings

Plugins>LungJ>Test, "Find Path (2D)", Pathfinder_2D
Plugins>LungJ>Test, "Find Path (3D)", Pathfinder_3D
Plugins>LungJ>Test, "makehalo", lj.testing.Test_Halo_Make
Plugins>LungJ>Test, "markhalo", lj.testing.Test_Halo_Highlight

Plugins>MCTV, "Create MCTV Tiles", Create_MCTV_Tiles

Help>About Plugins, "LungJ", Help("about")